{% extends 'base.html.twig' %} {% block title %}Film Listing{% endblock %} {% block body %}
<table class="table table-striped">
    <th>Title</th>

    <th>Director</th>
    <th>Category</th>

    {% for movie in movies %}
    <tr>

        <td><a href="/movie_edit/{{ movie.id }}">{{ movie.title }}</a></td> 

        <td>{{ movie.director }}</td>
        <td>{{ movie.category }}</td>
        <td><button><a href="/movie_delete/{{ movie.id }}"/>delete</span></button></td>
    </tr>
    {% endfor %}
</table>{% endblock %}