{% extends 'base.html.twig' %} {% block title %}New movies Item{% endblock %} {% block body %} {{ form_start(form) }} {{ form_errors(form) }}

<div class="form-group">
<<<<<<< HEAD
{{ form_row(form.title) }}
</div>
<div class="form-group">
{{ form_row(form.director) }}
=======
	{{ form_row(form.title) }}
</div>
<div class="form-group">
	{{ form_row(form.director) }}
>>>>>>> c341459ff06537fb76d964afd893ed45f539edfb
</div>


{{ form_end(form) }} {% endblock %}